.drag-over-indicator {
  position: absolute;
  left: -5px;
  height: 2px;
  width: 100%;
  background-color: #1c68fd;

  &::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #1c68fd;
    left: -8px;
    top: 50%; /* 这是让圆点在直线的中间 */
    transform: translateY(-50%);
    background: #fff;
  }
}

.drag-over-indicator-bottom {
  bottom: -5px;
}

.drag-over-indicator-top {
  top: -5px;
}
